@import 'config';
@import 'menu';
@import 'mobile';

body{
    @include background;
    background: $primary-color;
    color: white;
}

h1{
    font-size: 2rem;
}



#header{
    position: relative;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }

}

main{
    padding: 20vh;
    h1{
        font-size: 5rem;
    }

    h4{
        font-size: 2.5rem;
    }
    #homepage-Miranda{
        color: $secondary-color;
    }
    i:hover{
        color: $secondary-color;
        cursor: pointer;
    }

}